@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');

:root {
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--body-bg-color);
}

.main {
    display: flex;
    flex-direction: column;
    width: 326px;
    height: 100%;
    margin: 0 auto;
    margin-top: 100px;
}

#perfil {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 2px solid var(--purple);
    padding: 4px;
    margin: 0 auto;
}

p {
    margin-top: 14px;
    color: var(--purple);
    text-align: center;
}

.links div{
    justify-content: column;
    border-radius: 4px;
    border: 2px solid var(--purple);
    margin: 16px 0;
    padding: 6px;
    text-align: center;
}

.links a {
    text-decoration: none; 
    color: var(--purple);
    font-weight: 600;
}

.social-links {
    margin-top: 68px;
}

.order-links {
    display: flex;
    justify-content: space-around;
    width: 236px;
    margin: 0 auto;
}

